<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sectionType</key>
		<string>big</string>
		<key>contentItem</key>
		<array>
			<dict>
				<key>title</key>
				<string>배민1</string>
				<key>description</key>
				<string>한 번에 한 집만 빠르게 배달해요!</string>
				<key>imageName</key>
				<string>free.png</string>
			</dict>
			<dict>
				<key>title</key>
				<string>배달</string>
				<key>description</key>
				<string>세상은 넓고 맛집은 많다</string>
				<key>imageName</key>
				<string>free.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionType</key>
		<string>medium</string>
		<key>contentItem</key>
		<array>
			<dict>
				<key>title</key>
				<string>포장</string>
				<key>description</key>
				<string>가까운 가게는 직접 가지러 가지요</string>
				<key>imageName</key>
				<string>free.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionType</key>
		<string>medium_2</string>
		<key>contentItem</key>
		<array>
			<dict>
				<key>title</key>
				<string>B마트</string>
				<key>description</key>
				<string>장보기도 즉시배달</string>
				<key>imageName</key>
				<string>free.png</string>
			</dict>
			<dict>
				<key>title</key>
				<string>간편식/밀키트</string>
				<key>description</key>
				<string>뚝딱 만드는 근사한 한끼</string>
				<key>imageName</key>
				<string>free.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionType</key>
		<string>medium</string>
		<key>contentItem</key>
		<array>
			<dict>
				<key>title</key>
				<string>배민스토어</string>
				<key>description</key>
				<string>꾸까의 예쁜 꽃을 바로 배달!</string>
				<key>imageName</key>
				<string>free.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionType</key>
		<string>small_3</string>
		<key>contentItem</key>
		<array>
			<dict>
				<key>title</key>
				<string>쇼핑라이브</string>
				<key>description</key>
				<string></string>
				<key>imageName</key>
				<string>free.png</string>
			</dict>
			<dict>
				<key>title</key>
				<string>선물하기</string>
				<key>description</key>
				<string></string>
				<key>imageName</key>
				<string>free.png</string>
			</dict>
			<dict>
				<key>title</key>
				<string>전국별미</string>
				<key>description</key>
				<string></string>
				<key>imageName</key>
				<string>free.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionType</key>
		<string>banner</string>
		<key>contentItem</key>
		<array>
			<dict>
				<key>title</key>
				<string></string>
				<key>description</key>
				<string></string>
				<key>imageName</key>
				<string>free.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionType</key>
		<string>small_4</string>
		<key>contentItem</key>
		<array>
			<dict>
				<key>title</key>
				<string>포인트</string>
				<key>description</key>
				<string></string>
				<key>imageName</key>
				<string>free.png</string>
			</dict>
			<dict>
				<key>title</key>
				<string>쿠폰함</string>
				<key>description</key>
				<string></string>
				<key>imageName</key>
				<string>free.png</string>
			</dict>
			<dict>
				<key>title</key>
				<string>선물함</string>
				<key>description</key>
				<string></string>
				<key>imageName</key>
				<string>free.png</string>
			</dict>
			<dict>
				<key>title</key>
				<string>찜</string>
				<key>description</key>
				<string></string>
				<key>imageName</key>
				<string>free.png</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
