<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sectionType</key>
		<string>big</string>
		<key>contentItem</key>
		<array>
			<dict>
				<key>title</key>
				<string>타이틀1</string>
				<key>description</key>
				<string>xxxxxxxxxxxxxxxx</string>
				<key>imageName</key>
				<string>free.png</string>
			</dict>
			<dict>
				<key>title</key>
				<string>타이틀2</string>
				<key>description</key>
				<string>xxxxxxxxxxxxxxxx</string>
				<key>imageName</key>
				<string>free.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionType</key>
		<string>medium</string>
		<key>contentItem</key>
		<array>
			<dict>
				<key>title</key>
				<string>타이틀3</string>
				<key>description</key>
				<string>xxxxxxxxxxxxxxxx</string>
				<key>imageName</key>
				<string>free.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionType</key>
		<string>medium_2</string>
		<key>contentItem</key>
		<array>
			<dict>
				<key>title</key>
				<string>타이틀4</string>
				<key>description</key>
				<string>xxxxxxxxxxx</string>
				<key>imageName</key>
				<string>free.png</string>
			</dict>
			<dict>
				<key>title</key>
				<string>타이틀5</string>
				<key>description</key>
				<string>xxxxxxxxxxx</string>
				<key>imageName</key>
				<string>free.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionType</key>
		<string>medium</string>
		<key>contentItem</key>
		<array>
			<dict>
				<key>title</key>
				<string>타이틀6</string>
				<key>description</key>
				<string>xxxxxxxxxxx</string>
				<key>imageName</key>
				<string>free.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionType</key>
		<string>small_3</string>
		<key>contentItem</key>
		<array>
			<dict>
				<key>title</key>
				<string>타이틀7</string>
				<key>description</key>
				<string></string>
				<key>imageName</key>
				<string>free.png</string>
			</dict>
			<dict>
				<key>title</key>
				<string>타이틀8</string>
				<key>description</key>
				<string></string>
				<key>imageName</key>
				<string>free.png</string>
			</dict>
			<dict>
				<key>title</key>
				<string>타이틀9</string>
				<key>description</key>
				<string></string>
				<key>imageName</key>
				<string>free.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionType</key>
		<string>banner</string>
		<key>contentItem</key>
		<array>
			<dict>
				<key>title</key>
				<string></string>
				<key>description</key>
				<string></string>
				<key>imageName</key>
				<string>free.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionType</key>
		<string>small_4</string>
		<key>contentItem</key>
		<array>
			<dict>
				<key>title</key>
				<string>타이틀10</string>
				<key>description</key>
				<string></string>
				<key>imageName</key>
				<string>free.png</string>
			</dict>
			<dict>
				<key>title</key>
				<string>타이틀11</string>
				<key>description</key>
				<string></string>
				<key>imageName</key>
				<string>free.png</string>
			</dict>
			<dict>
				<key>title</key>
				<string>타이틀12</string>
				<key>description</key>
				<string></string>
				<key>imageName</key>
				<string>free.png</string>
			</dict>
			<dict>
				<key>title</key>
				<string>타이틀13</string>
				<key>description</key>
				<string></string>
				<key>imageName</key>
				<string>free.png</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
